<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EpaVM_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<EpaVM_WF.Properties.Settings>
   <setting name="Server1" serializeAs="String">
    <value>172.30.200.215</value>
   </setting>
   <setting name="Server2" serializeAs="String">
    <value>172.30.200.216</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>60022</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value>root</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>tust@54046290</value>
   </setting>
  </EpaVM_WF.Properties.Settings>
	</applicationSettings>
</configuration>